*{
    margin: 0;
    padding: 0;
    color: white;
}
body
{
    background-color: #212121;

}
.container{
    border: 1px solid red;
    height: 100vh;
}
#Moving__gif{
    border: 1px solid red;
    width: 20%;
    margin: 1rem 10rem;
}
.searchBar{
    margin-left: 10rem;
}
.searchBar input{
    background-color: #474646;
    outline: none;
    height: 6vh;
    width: 40%;
    border-radius: 5px;
    padding: 0 10px;
    border: none;
}
#searchBtn{
    border: none;
    width: 4%;
    height: 6vh;
    font-size: 22px;
    border-radius: 10px;
    color: black;
}

.shortcut__Icons ul{
    border: 1px solid black;
    display: inline-flex;
    list-style: none;
}
.shortcut__Icons{
    margin-left: 10rem;
}
.shortcut__Icons ul li{
    border: 1px solid red;
    padding: 10px 20px;
}